
body {
	margin: 0;
}
#three-canvas {
	position: absolute;
	left: 0;
	top: 0;
}
.btn-wrap{
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
	gap:20px;
}
.box-wrap{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.btn-box{
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.btn-box2{
	display: flex;
	gap: 20px;
}
.btn-box3{
	width: 100%;
	display: flex;
	gap: 20px;
}
#btn,#btn2,#btn3,#btn4,#btn5,#btn6{
	width: 50%;
	height: 40px;
	background: rgba(0,0,0,0.5);
	border:0;
	color: #fff;
	cursor:pointer;
	transition-duration: 1s;
	border:1px solid #fff;
}
#btn:hover,#btn2:hover,#btn3:hover,#btn4:hover,#btn5:hover,#btn6:hover{
	color: seagreen;
	background: rgba(255,255,255,0.9);
	
}
p{
	color: white;
	font-weight: 500;
	position: absolute;
	top: -100px;
	left: 50%;
	transform: translateX(-50%);
	width: max-content;
	text-align: center;
	background: rgba(0,0,0,0.5);
	padding: 8px 15px;
		border:1px solid #fff;
		font-size: 14px;
}
